# Notebook requirements
jupyterlab==3.5.2

# JupyterLab extensions
jupyter-server-terminals==0.4.4
jupyter-server==2.1.0
jupyterlab-git==0.40.1
jupyter-server-proxy==3.2.2
nbdime==3.1.1
nbgitpuller==1.1.1